[submodule "stable-baselines3"]
	path = stable-baselines3
	url = https://github.com/DLR-RM/stable-baselines3.git
[submodule "multiagentworld/envs/overcookedgym/human_aware_rl"]
	path = multiagentworld/envs/overcookedgym/human_aware_rl
	url = https://github.com/HumanCompatibleAI/human_aware_rl.git
