{% extends 'welcome.html' %}

{% block title %}Liar's Dice{% endblock %}

{% block parameters %}
<form method="post">
    <label class="form-check-label" for="probegostart">Probability the ego agent starts: </label> <span id="output"></span>
    <input class="form-range" type="range" name="probegostart" id="probegostart" value="50" min="0" max="100">
    
    <!-- <br>
    <label for="framestack">Number of frames to stack: </label> -->
    <input type="hidden" name="framestack" id="framestack" value="1" required>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="record" id="record">
      <label class="form-check-label" for="record">
        Record Trajectories
      </label>
    </div>
    <br>
    <button class="btn btn-primary btn-lg btn-block" type="submit">Go</button>
</form>
<script>
var slider = document.getElementById("probegostart");
var output = document.getElementById("output");
output.innerHTML = slider.value/100;

slider.oninput = function() {
  output.innerHTML = this.value/100;
}
</script>
{% endblock %}