{% extends 'welcome.html' %}

{% block title %}Rock-Paper-Scissors{% endblock %}

{% block parameters %}
<form method="post">
    <!-- <br>
    <label for="framestack">Number of frames to stack: </label> -->
    <input type="hidden" name="framestack" id="framestack" value="1" required>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="record" id="record">
      <label class="form-check-label" for="record">
        Record Trajectories
      </label>
    </div>
    <br>
    <button class="btn btn-primary btn-lg btn-block" type="submit">Go</button>
</form>
{% endblock %}