{% extends 'base.html' %}

{% block mainbody %}
<h2>Agent Settings</h2>
{% for message in get_flashed_messages() %}
    <div class="flash">Error: {{ message }}</div>
    <br>
{% endfor %}
<div class="row">
  <div class="column">
    <h3>Ego Agent</h3>
    <form action="{{ url_for('agents.egotype', env=env) }}" method="post">
      <label for="egotype">Pick a type of agent:</label>
      <select name="egotype" id="egotype">
          {% for typeoption in ego_options %}
              <option value="{{ typeoption }}">{{ typeoption }}</option>
          {% endfor %}
      </select>
      <input type="submit" value="Select">
    </form>
  </div>
  <div class="column">
    <h3>Partner Agent {{ partners + 1 }}</h3>
    <form action="{{ url_for('agents.partnertype', env=env) }}" method="post">
      <label for="partnertype">Pick a type of agent:</label>
      <select name="partnertype" id="partnertype">
          {% for typeoption in partner_options %}
              <option value="{{ typeoption }}">{{ typeoption }}</option>
          {% endfor %}
      </select>
      <input type="submit" value="Select">
    </form>
  </div>
</div>
<br> <br>
<form method="post">
  <input type="submit" value="Train!">
</form>
{% endblock %}