<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PantheonRL</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='iliad_logo_image_only.png') }}" type="image/x-icon">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light container">
    <div class="container-fluid">
        <h1>PantheonRL</h1>
        <ul>
            {% if g.user %}
                <li><span>{{ g.user['username'] }}</span>
                <li><a href="{{ url_for('login.logout') }}">Log Out</a>
            {% else %}
                <li><a href="{{ url_for('login.main') }}">Register/Log In</a>
            {% endif %}
        </ul>
    </div>

</nav>
<body>
    <br>
    <div class="container">
        {% block mainbody %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>