{% extends 'base.html' %}

{% block mainbody %} 
<div class="col-md-8 order-md-1">
    {% for message in get_flashed_messages() %}
        <div class="flash">Error: {{ message }}</div>
    {% endfor %}

    {% if session['tb'] %} 
    <div class="notification">Tensorboard created! Click the bottom button to go to the Tensorboard display.</div>
    {% endif %}

    {% if training or done %}
        {% if training %}
            <div class="notification">Training in progress!!</div>
        {% else %} 
            <div class="notification">Done training!</div>
        {% endif %}
        {% if 'updates' in session %}
            <h2>Current Training Data:</h2>
            <table>
                {% for key in session['updates'] %}
                    <tr>
                    <th>{{ key }}: </th>
                    <td>{{ session['updates'][key] }}</td>
                    </tr>
                {% endfor %}
            </table>
            <br>
            {% if done %}
                <form action="{{ url_for('welcome.main') }}" method="get">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Train New Environment</button>
                </form>
            {% endif %}
        {% endif %}
    {% else %}
        <h4 class="mb-3">Training not yet started.</h4>
        <form action="{{ url_for('training.learn') }}" method="post">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Start Training</button>
        </form>
        <br>
    {% endif %}
    {% if not done %}
        <form method="post">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Check for Updates</button>
        </form>
        <br>
        {% if not session['tb'] %}
        <form method="post" action="{{ url_for('training.tb') }}">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Create Tensorboard</button>
        </form>
        {% else %}
        <form method="get" action="{{ tb_url }}">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Go To Tensorboard</button>
        </form>
        {% endif %}
        <br>
        <form method="get" action="{{ url_for('training.done') }}">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Quit Training</button>
        </form>
    {% endif %}
</div>
{% endblock %}