/* taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_three_columns */
* {
  box-sizing: border-box;
}

/* taken from the Flask website tutorial */
nav {
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 20px;
  border: 1px solid;
}

.flash {
  background-color: lightcoral;
  color:whitesmoke;
}